# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env
.env.local
**/.env
.envrc
*.egg-info/
.eggs/

# VS Code / IDE
.vscode/
.idea/
*.swp

# Django
staticfiles/
media/
*.log

# Docker
*.pid
*.seed
# If Docker volume exports etc:
docker-volume/
docker-data/


# Mac OS
.DS_Store

# Credentials / local settings
**/.env
.env.local

# Data files
*.csv
backend/data/raw/
backend/data/processed/
backend/data/tmp/
